            {% load static %}
                <div class="col-md-6">
                    <h2>ЖДЕМ ВАС</h2>
                    <p><img src="{% static "img/marker_16.png" %}"></p>
                    <p>Больше не нужно выбирать между фаст-фудом, чтобы сэкономить время, и рестораном, чтобы качественно пообедать. Во <b>Fresh Point</b> мы объединили быстрое обслуживание и качество ресторанной еды</p>
                    <p><b>Fresh Point</b> создан <b>для людей, которым важно качество и дорого время</b>. Наши рестораны работают в популярном европейском формате <b>Fresh Food To Go</b> – свежая еда у нас или с собой. Мы предлагаем своим гостям <b>здоровую еду ресторанного качества по нересторанным ценам</b>, а также возможность взять <b>любое блюдо с собой.</b></p>
                    <p><a href="/about/">О НАС</a></p>
                </div>
                <div class="col-md-6">
                    <p><img class="img-responsive" src="{% static 'img/block_4.png' %}"></p>
                </div>
