{% load static %}
            <div class="row">
                <h1>Доставка прямо к рабочему столу!</h1>
                <div class="salads-parallax" style="background-image: url('{% static '/img/moone.png' %}');"></div>
                <div class="col-sm-8">
                    <!---img class="img-responsive" src="{% static 'img/moone.png' %}" alt="Moon"-->
                    <p>Нет времени выйти на обед? Не хотите прерывать важное совещание? Мы готовы доставить наши свежие салаты, сэндвичи и супы к вам в офис.</p>
                    <div class="alert alert-warning">
                        <p>Доставка по Санкт-Петербургу бесплатная, но действует только при заказе от 2 000 руб.</p>
                        <p>Вы можете разместить Ваш заказ в любой рабочий день с 9.30 до 16.00 на доставку на следующий день или более поздние даты.</p>
                        <p>Если вы не успели оформить заказ вовремя, пожалуйста, свяжитесь с нами по тел. +7 (901) 97 11 555. Мы сделаем все возможное чтобы Вам помочь.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4>Позвоните и мы приедем:</h4>
                    <p><span class="text-warning"><b>+7 (901) 97 11 555</b></span></p>
                    <img src="{% static '/img/car.png' %}" alt="Car">
                </div>
            </div>